# Project exclude paths
/mall_common/target/
/mall_coupon/target/
/mall_member/target/
/mall_order/target/
/mall_product/target/
/mall_ware/target/
/renren-generator/target/
/mall_product/src/main/resources/
/gulimall-third-party/src/resources/
/**/target/
/mall-test-sso-client/target/
/mall-test-sso-client2/target/
/mall-test-sso-server/target/
/.idea/dataSources/
/gulimall-third-party/

